.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  
  .carousel {
    @mixin hover {
      .carouselControls {
        opacity: 1;
      }
    }
    display: flex; /* Add this line to make it a flex container */
    flex-direction: row; /* Add this line to set the flex direction to row */
  }
  
  .carouselControls {
    transition: opacity 150ms ease;
    opacity: 0;
  }
  
  .carouselIndicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;
  
    &[data-active] {
      width: rem(16px);
    }
  }